body {
    background-color: white;
    margin-left: 210px;
    padding: 0px;
    height: 100%;
    /* font-family: "Helvetica Neue", Helvetica, Arial; */
    line-break: normal;
}

h1 {
    text-align: center;
}

p {
    /* font-family: Cambria; */
    /* font-size: 20px; */
}

#video {
    margin-left: 210px;
    margin: 0 auto; 
    display: block;
    margin: 0 auto;
    width: 80%    !important;
    height: auto   !important;
}

#article {
    padding: 2px 2px 4px 4px;
    background: #cfcece;
    border-radius: 1%;
    display: block
}

#close {
    border: none;
    display: block;
    padding-left: 90%;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: #818181;
    font-size: 110%;
    text-align: right;
}

#open {
    margin-left: 0px;
    position: relative;
    display: none
}

.mainimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.reference {
    font-family: "Helvetica Neue", Arial, Helvetica;
    padding: -10%;
    font-size: 85%;
    line-break: auto;
}

.footer_sidebar {
    position: fixed;
    /* left:1%; */
    width: 10%;
    bottom: 0;
    display: block;
}

#side {
    height: 100%;
    width: 200px; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}

#side a {
    padding: 6px 6px 2px 18px;
    text-decoration: none;
    font-size: 120%;
    color: #818181;
    display: block;
}

#side a:hover, #close:hover{
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    #side {
        padding-top: 15px;
    }
    #side a {
        font-size: 18px;
    }
}