body {
    background-color: white;
    margin-left:12%;
    padding:0px;
    height:100%;
    font-family:"Helvetica Neue", Helvetica, Arial;
    line-break: normal;
}
h1{
    text-align: center;
}

p {
    font-family: Cambria;
    font-size: 20px;
}

#main {
    overflow: auto;
    padding-bottom: 180px;
    /* must be same height as the footer */
  }


.reference {
    font-family: "Helvetica Neue",Arial, Helvetica;
    padding: -10%;
    font-size: 85%;
    line-break: auto;
}



.footer_sidebar {
    position: fixed;
    left:1%;
    width: 200px;
    bottom: 0;
    display: block;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }